.slider h3,
.slider h5,
.promo h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0, 5);
}

div {
    font-style:italic;
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: colorscale(1);
    opacity: 0.5 !important;
}

.promo img {
    max-width: 360px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0, 8));
}

#testimoni {
    background-color: #8080;
}

#testimoni .slides,
#testimoni .slider {
    background-color: transparent;
}

#testimoni img {
    margin-right: 1.5rem;
    border-radius: 50%;
    width: 130px !important;
    height: 130px !important;
}

#testimoni .testimonial-title {
    margin: 20px auto;
    width: 100%;
    padding: 1em;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

#testimoni .quote {
    background: #E7E7E7;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 3rem;
}

#testimoni .quote:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 0px 0 45px;
    border-color: #E7E7E7 transparent transparent transparent;
    position: relative;
    top: 50px;
    left: 2rem;
}

#testimoni .testimonial-img {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

#testimoni .testimonial-people p {
    color: #F00004;
    font-size: 1.5rem;
    position: relative;
    text-transform: capitalize;
}

footer {
    padding: 25px 0;
}